body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: url(https://img.freepik.com/free-photo/workspace-workplace-office-table_144627-40144.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: aliceblue;


}

.head {
    text-align: center;


}

header h1 {
    box-shadow: 5px 6px 8px 9px #3348;
    border-radius: 40px;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;


}

.profile {
    display: flex;
    justify-content: center;
}

.img {
    width: 300px;
    border-radius: 200px;
    border: 2px solid rgb(225, 215, 234);
}

.container {
    display: flex;
    justify-content: center;
    margin-right: 400px;
    margin-left: 100px;


}

p {
    font-size: 1.5rem;
    line-height: 50px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 40px;

}

.educational {
    box-shadow: 5px 6px 8px 9px rgba(55, 55, 242, 0.533);
    padding: 5px;
    border-radius: 30px;
    background-color: azure;


}

.work {
    box-shadow: 5px 6px 8px 9px rgba(55, 55, 242, 0.533);
    padding: 5px;
    border-radius: 30px;
    background-color: azure;
}

ul {
    padding: 25px;
    border-radius: 50px;
    background-color: rgb(205, 227, 227);
    line-height: 40px;
}

footer {
    margin-left: 100px;
    margin-right: 100px;
    background-color: aqua;
    padding: 10px;
}