* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: aliceblue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    text-align: center;
    padding: 15px;




}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;


}

ul li {
    padding: 10px 20px 10px 20px;

}

button {
    color: white;
    background-color: transparent;
    border: none;


}

nav ul a :hover {
    background-color: gray;
    border-radius: 50px;

}

.img1 {
    max-width: 100%;
    width: 100%;
    height: 100%;

}

.first {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 35%;
    margin-top: 80px;
    margin-left: 100px;
    height: 100px;
    padding: 20px;
    padding-top: 30px;
    text-align: center;


}

.inner-div1 {
    background-color: white;
    display: flex;
    justify-content: left;
    position: absolute;
    width: 35%;
    margin-top: 200px;
    margin-left: 100px;
    height: 450px;
    padding: 20px;
    padding-top: 30px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;


}

.inner-div2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 35%;
    margin-top: 420px;
    margin-left: 100px;
    padding: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;

}

.menu-icons {
    color: black;
    text-decoration: none;
}

.inner-div3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 35%;
    margin-top: 500px;
    margin-left: 100px;
    padding: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;



}

.inner-div3 p {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 8%;
}

.inner-div3 a {
    text-decoration: none;
}

.inner-div3 a :hover {
    background-color: gray;

}

.inner-div4 {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 35%;
    margin-top: 580px;
    margin-left: 100px;
    padding: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 4;

}

.inner-div4 p {
    color: black;
}

.inner-div4 a {
    text-decoration-color: black;
}

.img2 {

    height: 300px;
    display: flex;
    justify-content: center;
    max-width: 100%;

}

.second-img {
    max-width: 100%;
    width: 100%;
}

.second-menu {
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    line-height: 50px;
}

.second-menu h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.second-menu p {
    font-size: 1rem;
}

.second-menu a {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 8%;
    text-decoration: none;
}

.newheadline {
    margin-left: 100px;
    margin-top: 30px;
    font-size: 3rem;
}

.main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    max-width: 100%;
    width: 100%;

}

.main-inner1 {
    margin-left: 100px;
    margin-right: 20px;

}

.main-inner2 {
    margin-right: 100px;
    margin-left: 20px;


}

.main-inner1 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-inner1 p {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main-inner1 a {
    text-decoration-color: black;
    color: black;
    margin: 20px;
}

.main-inner2 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-inner2 p {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main-inner2 a {
    text-decoration-color: black;
    color: black;
    margin: 20px;
}

.main-div2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 70px;
    margin-bottom: 40px;
    max-width: 100%;

}

.main-div2 h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-div2 p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-div2 a {
    text-decoration-color: black;
    color: black;
    margin: 20px;
}

.footer-main {
    width: 600px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    background-color: black;
    height: 400px;
    padding-top: 50px;



}

.footer-main ol {
    color: white;
    line-height: 50px;
    list-style: none;
}

.first-coulmn {
    margin-left: 100px;
}

.four-coulmn {
    margin-right: 100px;
}

.footer-main a {
    text-decoration: none;
    color: white;
}
.footer-main2 {
    width: 600px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    background-color: black;
    height: 400px;
    padding-top: 50px;

}
.icons {
    margin-left: 200px;
    margin-bottom: 30px;
    padding: 50px;
   background-color: rgb(0, 2, 4);

}
.icons2 {
    margin-right: 100px;

    

}
.small-img {
    margin: 40px;
    color: white;
}
@media (max-width :512px) {
    main {flex-direction: column;
    margin: 0% auto;}
    footer {flex-direction: column;
    margin: 0%auto;}
    header {flex-direction: column;
    margin: 0% auto;}
}